<div class="container">
  <header class="header">
    <h3>404 NOT FOUND</h3>
  </header>
  <main class="main">
    <div class="main-img"><img class="img" src="assets/img/not-found.png"></div>
    <div class="main-text">
      <h1 class="text-header">I have bad news <br> for you</h1>
      <p class="text-p">The page you are looking <br> for might be removed or is <br> temporarily unavailable</p>
      <button class="btn">Back to homepage</button>
    </div>
  </main>
  <footer class="footer">
    <p class="footer-text">created by {{username}} - devChallenges.io</p>
  </footer> 
</div>