.input-type-button {
  width: 216px;
  height: 68px;
  font-family: Space Mono;
  font-size: 0.9rem;
  font-weight: 700;
  background: #333333;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}