/* You can add global styles to this file, and also import other style files */

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-red {
  color: red;
}

.font-family-space-mono {
  font-family: 'Space Mono';
}

.font-family-inconsolata {
  font-family: Inconsolata;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-14 {
  font-style: 14px;
}

.title-font-24 {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

.font-64 {
  font-style: 64px;
}

.letter-spacing-08em {
  letter-spacing: -0.08em;
}

.letter-spacing-035em {
  letter-spacing: -0.035em;
}
